.bg-company-blue {
    background-color:#16529E;
}
.nav-logo-orange{
    color: #FF8425; 
}
.jumbotron{
    background: black;
    color:white;
    text-align:center;
}
.jumbotron p{
    color:white;
    font-size:26px;
}