.bg-company-blue {
    background-color:#16529E;
}
.nav-logo-orange{
    color: #FF8425; 
}

.jumbotron{
    /*source: https://www.pexels.com/photo/group-of-people-sitting-on-white-mat-on-grass-field-745045/ */
    background-image: url(../styles/happy_people_copy.jpg);
    background-size:     cover; 
    background-repeat:   no-repeat;  
    background-position: absolute;             
    color:white;
    text-align:center;
}
.jumbotron p{
    color:black;
    font-size:26px;
}
.bodyjumbotron {
    background:white;
    color: black;
}
.buttonblack{
    background-color:black;
}
.error {
    color: red;
    font-style: italic;
 }